body{
    margin: 0;
    background:#333;
    font-style:Verdana,Geneva,sans-serif,serif;
    color:white;
    counter-reset: section;
}
.top-container {
  background-image:url("png/tlo.png");
  background-color: #cccccc;
  padding: 20%;
  text-align: center;
  color:white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
    padding: 10px 0px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}
.post::before{
    counter-increment: section;
    content: "Post " counter(section) ": ";
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.but{
    height:50px;
    width: 50px;
    outline: none;
    border:none;
    background:#333;
    color:white;
    transition: 0.5s;
}
.but:hover{
    background:white;
    color:#333;
}
.but:active{
    background:gray;
    color:#333; 
}